body{
	max-width: 70em;
	margin: auto;
	background-color: #ECEFF1;
	font-family: "Roboto";
	padding: 0 3em 0 3em;
}
div{
	outline: 0;
}
#title{
	padding-top: 1em;
	font-size: 2.5em;
}
#content{
	padding-top: .5em;
	font-size: 1.2em;
}